<h1>Welcome to the Roundtable Report System</h1>
To file a report, simply fill in the form below.  To see your previous postings, please login by clicking the "Login" button in the upper right corner.


       <%= link_to new_post_path do %> 
          <%= image_tag 'startnow.png' %>
        <% end %>
